packages:
  yum:
    zip: []
    unzip: []
    php-zip: []

container_commands:
  00_install_composer_dependencies:
    command: "yum install composer -y"

  01_install_composer_dependencies:
    command: "echo yes | sudo composer install"

  02_enable_zip_extension:
    command: "echo 'extension=zip.so' | sudo tee -a /etc/php.d/20-zip.ini"

  03_restart_php:
    command: "sudo service php-fpm restart"

  04_build_node_assets:
    command: "yum install nodejs -y"

  05_run_migrations:
    command: "php artisan migrate --force"

  06_run_seed:
    command: "php artisan db:seed -n --force"

  07_generate_api_documentation:
    command: "php artisan scribe:generate --force"
