container_commands:
  01_install_composer_dependencies:
    command: "yum install composer -y"

  02_install_composer_dependencies:
    command: "echo yes | sudo composer install"

  03_enable_zip_extension:
    command: "echo 'extension=zip.so' | sudo tee -a /etc/php.d/20-zip.ini"

  04_restart_php:
    command: "sudo systemctl restart php-fpm"

  05_build_node_assets:
    command: "yum install nodejs -y"

  06_run_migrations:
    command: "php artisan migrate --force"

  07_run_seed:
    command: "php artisan db:seed -n --force"

  08_generate_api_documentation:
    command: "php artisan scribe:generate --force"

  09_sidecar_activate:
    command: "php artisan sidecar:deploy --activate"
